@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
background-image: url(bg.png);
background-size: cover;
background-repeat: repeat-y;

}
h1{
    text-align: center;
    font-size: 50px;

    margin-top: 100px;
    color: #4b3e34;
    ;
}
.equal{
    height: fit-content;
    font-size: 69px;
    color: #000000;
    /* border: 1px solid ; */
}
.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    margin-top: 150px;
    align-items: center;
    
}
.feet h2{
    color: #5f4e42;
}
.inch h2{
color: #5f4e42;
}
input{
    padding: 10px;
    font-size: 25px;
    background-color: #f3dfd9;
    /* border: solid 1px; */
    border-radius: 12px;
}
@media screen and (max-width: 812px) {

.feet h2,.inch h2{
    font-size: 30px;
}
input{
    font-size:20px ;
}
.equal{
    font-size: 49px;
}


}
@media screen and (max-width: 558px) {

.container{
    flex-direction: column;
}
h1{
    font-size: 40px;
}


}
